

services:
  task:
    build:
      context: .
      dockerfile: Dockerfile.task
    ports:
      - "8081:8081"
    environment:
      #- GIN_MODE=release
      - CONFIG_PATH=/app/local.yaml
    volumes:
      - ./backend/task/internal/config:/app/config
      - task_data:/app/data
    networks:
      - app-network


  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "3000:80"
    networks:
      - app-network
    depends_on:
      - task

volumes:
  task_data:

networks:
  app-network:
    driver: bridge
